.responsive {
	max-width: 50%;
	height: auto;
  }
img{
	padding: 5px;
}

#results {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	background-color: gainsboro; 
  }